
.attractions{
    box-sizing: border-box;
    border: 1px solid white;
    padding: 0 auto;
    align-items: center;
    background-color: white;
    padding: 20px 100px;
}
.title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    font-family: sans-serif;
}
.container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap:1%;
}
.blog{
    width: 320px;
    margin-top: 35px;
    border: 2px solid rgb(217, 214, 214);
    padding-top: 10px;
    gap: 15px;
    text-align: center;
    column-gap: 25px;
    transition-duration: 1s;
    padding-bottom: 25px;
    
}
.blog:hover{
    transform: scale(1.05);
    border-color: green;
}
.blog img{
    width: 280px;
    height: 170px;
}
.blog p{
    font-size: 18px;
    font-family: sans-serif;
}
.blog button{
    width: 110px;
    height: 40px;
    background-color: rgb(55, 181, 55);
    border-color: rgb(55, 181, 55);
    color: white;
    transition-duration: 1s;
    border-radius: 7px;
}
.blog button:hover{
    background-color:white;
    border-color: rgb(55, 181, 55);
    color:  rgb(55, 181, 55);
    margin-bottom: 15px;
}
.yulduz{
    color: green;
}
